.navbar {
    background-color: #783F8E;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    a {
        margin-left: 3vw;
        color: white;
        text-decoration: none;
    }
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    
    cursor: pointer;

    a {
        margin-left: 3vw;
        color: white;
        text-decoration: none;
    }
}


.footer {
    max-height: 30vh;
    background-color: #783F8E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

.colegiado {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-junta {
    max-width: 20vw;
}

.footer-list {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;   

    a {
        text-decoration: none;
        color: white;
        margin-bottom: 3vh;
    }
}