// $base-color: #EFD5C3;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
} 



button {
  border: none;
  padding: 10px;
  border-radius: 10px;

  background-color: #CF9CE6;
}

button:hover {
  background-color: #4F1271;
  color: white;
}

